In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('Relative Valuation.csv')

In [18]:
df.head(10)

,Company,ROA,ROE,ROC,Gross Margin,EBITDA Margin,Net Profit Margin,D/E,D/C,Net Debt/EBITDA,EV/EBITDA,P/FCF,P/E
0,A,0.0230,-,0.0669,0.2130,0.1240,0.0290,-,1.4467,0.0426,34.22,807.12,119.29
1,B,0.0235,0.2211,0.0493,0.4520,0.2980,0.0840,6.6885,0.8699,0.0683,17.20,23.49,41.45
2,C,0.0716,0.2157,-,0.3460,0.0950,0.0590,1.5628,0.6098,0.0251,49.83,101.60,114.43
3,D,0.0723,-,0.1503,0.3000,0.0800,0.0320,-,1.0170,0.0212,22.30,20.40,67.71
4,E,0.1631,-,0.3954,0.4760,0.3380,0.1600,-,3.1020,0.0662,26.69,31.19,37.95
5,F,0.0215,0.2087,0.0692,0.5700,0.3580,0.0980,3.7737,0.7905,0.0756,32.78,24.94,37.30
6,G,0.1234,-,-,0.8047,0.2609,0.0937,-,3.4898,0.0674,69.36,71.24,120.71
7,H,0.0737,NaN,0.1249,0.7332,0.4132,0.1261,-,1.5151,0.0474,10.84,16.26,21.27
8,I,0.0945,-,0.1366,0.5080,0.4620,0.2460,-,1.1793,0.0529,21.13,37.88,38.00
9,Company X,0.3332,-,0.6466,0.2750,0.1860,0.1190,-,4.1236,0.0500,23.47,30.93,31.93

In [19]:
df_filtered= df[df['Company']!= 'Company X']

In [20]:
#Qualitative Assessment. Remove outliers that would overvalue Company X
#FCF of A, C, G too high
mean_pfcf_adjusted = df_filtered.loc[~df_filtered['Company'].isin(['A', 'C', 'G']), 'P/FCF'].mean()
df_filtered.loc[df['Company'].isin(['A', 'C', 'G']), 'P/FCF'] = mean_pfcf_adjusted
mean_pfcf_adjusted

25.69333333333333

In [21]:
summary_stats = df_filtered.describe().loc[['mean', 'min', 'max']]
summary_stats=pd.DataFrame(summary_stats)
summary_stats

,ROA,Gross Margin,EBITDA Margin,Net Profit Margin,D/C,Net Debt/EBITDA,EV/EBITDA,P/FCF,P/E
mean,0.074067,0.489211,0.2699,0.103089,1.557789,0.051856,31.594444,25.693333,66.456667
min,0.021500,0.213000,0.0800,0.029000,0.609800,0.021200,10.840000,16.260000,21.270000
max,0.163100,0.804700,0.4620,0.246000,3.489800,0.075600,69.360000,37.880000,120.710000

In [22]:
mean_ev_ebitda= summary_stats.loc['mean', 'EV/EBITDA']

In [23]:
#most recent year company X EBITDA and FCF
x_ebitda=835.4
x_fcf = 504

In [24]:
firm_value = x_ebitda*mean_ev_ebitda
firm_value

26393.99888888889

In [25]:
mean_p_fcf = summary_stats.loc['mean', 'P/FCF']
mean_p_fcf

25.693333333333335

In [26]:
equity_value = x_fcf*mean_p_fcf
equity_value

12949.44

In [27]:
#From Balance Sheet
shares_outstanding = 38.8684

In [28]:
firm_value_per_share=firm_value/shares_outstanding
firm_value_per_share

679.060596497126

In [29]:
equity_value_per_share = equity_value/shares_outstanding
equity_value_per_share

333.16112832017785

In [30]:
valuation_names = ['equity_value', 'equity_value_per_share', 'firm_value', 'firm_value_per_share']
valuation = [equity_value, equity_value_per_share, firm_value, firm_value_per_share]
valuation = pd.DataFrame(valuation, index=valuation_names)
valuation

                                   0
equity_value            12949.440000
equity_value_per_share    333.161128
firm_value              26393.998889
firm_value_per_share      679.060596